/* 

This CSS file is contains the CSS rule sets for 
    - index.html
    - any universal elements that all pages use

The CSS for the take-action.html is in take-action.css

*/

/************************************************/
/************* UNIVERSAL ELEMENTS ***************/
/************************************************/

/* TODO: Customize your font properties and background color for all elements inside the <body> and <html> tags */
body,
html {
  height: 100%;
  font-size: 20px; /* Change the font size*/
 font-family: 'Fjalla One', sans-serif;

; /* Change the font */
  line-height: 1.5em; /* Change the line height size*/
  margin: 0em;
  color: white; /* Change the font color*/
  background-color: #E35F5F; /* Change the background color */
  box-sizing: border-box;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  /*TODO: Change the font-family property to your linked font*/
font-family: 'Fjalla One', sans-serif;

  background-color: black;
  text-align: center;
}

/*TODO: Change the font-family property to your linked font*/
h2 {
  letter-spacing: 3px;
  font-size: 25px;
  font-family: 'Fjalla One', sans-serif;

  color: black;
  text-align: center;
  line-height: 1.3em;
}

/*TODO: Change the color of a link when a person hovers over it*/
p a {
  color: white;
  text-decoration: none;
}
a{
  color: black;
}

/************************************************/
/*************** CSS FOR NAV BAR ****************/
/************************************************/

/* All of these TODOs are optional. You should change the styling based on your mockup */

/* TODO (optional): Change the background color and/or border style */

ul.nav-bar {
  /* Styling for the <ul class="nav-bar"> element */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E35F5F;
  border-style: solid;
  border-color: white;
}

/* TODO (optional): Change the font size*/

li.nav {
  /* Styling for the <li class="nav"> element */
  float: right;
  font-size: 15px;
}

/* TODO (optional): Change the font color, decoration, and/or case */

li.nav a {
  /* Styling for the <a> elements in <li class="nav"> */
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* TODO (optional): Change the background color and/or font color when the mouse hovers over an item */

li.nav a:hover {
  /* Styling for the <a> elements when the mouse is hovering in <li class="nav"> */
  background-color: #9D1919;
  color: white;
}

/************************************************/
/*********** CSS FOR FLEXBOX HEADING ************/
/************************************************/

/* TODO: Review the CSS properties to the flexbox container for title and intro text */
.flex-container {
  display: flex; /* Set the flexbox display */
  flex-direction: row; /* Configure the flex items to row */
  flex-wrap: nowrap; /* Don’t wrap the flex items */
  justify-content: center; /* Justify the flex items to the center */
  align-items: center; /* Align the flex items to the center */

  /* Design properties */
  background-color: white;
  padding: 5px;

  /* Positioning properties */
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%; /* Change this value to move the box up or down */

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the heading (the left box) */
.heading-home {
  padding: 2%;
  background-color: #ff8282;
  color: black;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 60px;
  text-align: center;
  font-style: bold;
  font-family: 'Bebas Neue', cursive;
  border: 5px solid #D74D4D;

  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/* TODO: Review the CSS properties to the flex item for the intro text (the right box) */
.intro-text {
  background-color: #ff8282; /* Add your own background color */
  padding: 4%;
  margin: 3%;
  color: black; /* Add the color of your font */
  font-size: 20px; /* Add your font size*/
  letter-spacing: 2px; /* Adds space between letters */
  line-height: 1.4em; /* Adds space between lines */
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  border: 5px solid #D74D4D;


  /*Debugging Tip: Uncomment the line below to see the outline of the container*/
  /*border-style: dotted;*/
}

/************************************************/
/*************** PARALLAX SCROLL ****************/
/************************************************/

/*-----------TEXT SECTIONS-----------*/

/* TODO (optional): Change the background color and/or text alignment */

.text-section {
  background-color: #D74D4D;
  padding: 20px 45px;
  margin: 0px;
  text-align: center;
}

/*---------IMAGE STYLING + PARALLAX PROPERTY---------*/

/* TODO: Add the CSS selector for each image to the collective image rule set */

.main-message,
.image-one {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #43d6b9ff;
  background-size: cover;
  min-height: 100%; /* This adjusts the height of the image */

  /* TODO: Add the property to create the parallax scrolling effect here */
  background-attachment: fixed;
}

/* TODO: Replace the current image URL with your own. This is the top image on your homepage. */
.main-message {
  background-image: url("https://cdn.glitch.com/c7e830c3-11ff-4f0c-a6df-921bff4377e1%2F23617101430_2fd4fcc461_b.jpg?v=1595953651195");
  text-align: center;
}

/* TODO: Replace the current image URL with your own */
.image-one {
  background-image: url("https://cdn.glitch.com/c7e830c3-11ff-4f0c-a6df-921bff4377e1%2F42176614715_87505d598a_b.jpg?v=1595954304297");
}
#image-two {
  background-image: url("https://cdn.glitch.com/c7e830c3-11ff-4f0c-a6df-921bff4377e1%2F48582724571_662f8047db_b.jpg?v=1595955033723");
}
#image-three {
  background-image: url("https://cdn.glitch.com/c7e830c3-11ff-4f0c-a6df-921bff4377e1%2F45680665301_a977a96ce1_b.jpg?v=1595956900998");
}
#image-four {
  background-image: url("https://cdn.glitch.com/c7e830c3-11ff-4f0c-a6df-921bff4377e1%2F45680665301_a977a96ce1_b.jpg?v=1595956900998");
}
/* TODO: Add a second background image. Make sure you add this class selector to the collective image rule set above */

/* TODO: Add more background images by repeating the process above */

/*-----------IMAGE ATTRIBUTIONS (if required)-----------*/
.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

/******************************************************/
/***** CHANGE INDEX.HTML CSS BASED ON SCREEN SIZE *****/
/******************************************************/

/* TODO: Add a breakpoint if the screen is 700px or less */
@media screen (max-width: 700px){
  .flex-container{
    flex-wrap: wrap;
    top: 20%;
  }
}
#everytown-articles{
 border: 1px dotted black;
}
#resources{
 border:1px dotted black;   
}
#second-amendment{
  border: 1px dotted black;
}
#meeting-notes{
  border: 1px dotted black;
}
#remind{
  border: 1px dotted black;
}
/* TODO: Add additional breakpoints based on your website's design
